option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "swe1app.settings"
    PYTHONPATH: "/var/app/current/swe1app:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "swe1app.wsgi:application"

container_commands:
  01_makemigrations:
    command: "source /var/app/venv/*/bin/activate && python3 swe1app/manage.py makemigrations --noinput"
    leader_only: true
  02_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 swe1app/manage.py migrate --noinput"
    leader_only: true
  03_superuser:
    command: "source /var/app/venv/*/bin/activate && python3 swe1app/manage.py createsu"
    leader_only: true